/* https://stackoverflow.com/a/48030340/358804 */
.fb-login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.fb-login {
  background-color: #4267b2;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}
