/* https://stackoverflow.com/a/48030340/358804 */
.fb-login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
