/* https://stackoverflow.com/a/48030340/358804 */
.fb-login-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.fb-login-wrapper li {
  margin: 10px 0;
}
